<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header><h1> OMG! Illia test blog!</h1></header>

<%= yield %>
<footer>Illia 2016  @ All rights reserved</footer>
</body>
</html>
